<div class="login-page">

  <div class="login-card">

    <!-- HEADER -->

    <div class="login-header">

      <div class="logo">
        CS
      </div>

      <h1>
        Campus Scheduler
      </h1>

      <p>
        Sign in to continue
      </p>

    </div>


    <!-- ERROR -->

    <div
      class="error-message"
      *ngIf="errorMessage">

      {{ errorMessage }}

    </div>


    <!-- LOGIN FORM -->

    <form
      (ngSubmit)="login()">


      <!-- EMAIL -->

      <div class="form-group">

        <label>
  Faculty ID
</label>

<input
  type="text"
  name="faculty_id"
  [(ngModel)]="faculty_id"
  placeholder="Enter your Faculty ID"
  autocomplete="username"
/>
      </div>


      <!-- PASSWORD -->

      <div class="form-group">

        <label>
          Password
        </label>

        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Enter your password"
          autocomplete="current-password"
        />

      </div>


      <!-- BUTTON -->

      <button
        type="submit"
        class="login-button"
        [disabled]="isLoading">

        <span *ngIf="!isLoading">
          Login
        </span>

        <span *ngIf="isLoading">
          Signing in...
        </span>

      </button>

    </form>


    <div class="login-footer">

      Campus Scheduler

    </div>

  </div>

</div>